h1{
    border-style: dotted;
}

body {
    transition: 0.5s ease-out;
    background-color: white;
  }
  
  body.darken {
    background-color: rgba(0,0,0,0.5);
  }
  
  img.battle1 {
    transform: scale(1.5) rotate(25deg);
    animation: bump1 1s ease-out 2;
  }

  img.battle2 {
    transform: scale(1.5) rotate(-25deg);
    animation: bump2 1s ease-out 2;
  }
  
  @keyframes bump1 {
    0%, 50%, 100% {
      transform: scale(1) rotate(0deg) translateX(0px);
    }
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: scale(1.5) rotate(25deg) translateX(-20px);
    }
    25%, 75% {
      transform: scale(1) rotate(0deg) translateX(0px);
    }
  }
  
  @keyframes bump2 {
    0%, 50%, 100% {
      transform: scale(1) rotate(0deg) translateX(0px);
    }
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: scale(1.5) rotate(25deg) translateX(-20px);
    }
    25%, 75% {
      transform: scale(1) rotate(0deg) translateX(0px);
    }
  }
  
  