body {
    background-color: rgb(201, 236, 130);
}

header{
    background-color: rgb(82, 82, 82);
    color: rgb(187, 150, 55);
    background-image:
      linear-gradient(45deg, #ccc 25%, transparent 25%), 
      linear-gradient(135deg, #ccc 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ccc 75%),
      linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size:120px 120px; /* Must be a square */
    background-position:0 0, 60px 0, 60px -60px, 0px 60px; /* Must be half of one side of the square */
}

/* was working on getting the animation for the fight button going*/
/* 
.grow {
    transform: scale(1.5);
    height: 500px;
    width: 500px;
}

#image-1, #image-2 {
    transition: height 2s width 2s;
    transform: scale (1.0);
} */